* {
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   color: var(--dark-color, #21243D);
}

.container {
   width: 1140px;
   margin: 0 auto;
}

a {
   text-decoration: none;
}

.header {
   padding: 30px 10px;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   animation: head 0.4s alternate ease-in-out;
}

@keyframes head {
   0% {
      transform: translateY(-200px);
   }
}

.header a {
   text-align: right;
   font-size: 20px;
   font-weight: 500;
   margin-left: 30px;
}

.header a:hover {
   text-decoration: underline;
   font-size: 22px;
   margin-bottom: -3px;
   background-size: 0 0.1em, 100% 0.1em;
}

.hero {
   padding: 140px 90px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.hero img {
   animation: heroimg 0.4s alternate ease-in-out;
}

@keyframes heroimg {
   0% {
      transform: translateX(1000px);
   }
}

h1 {
   font-size: 44px;
   font-weight: 700;
   line-height: 60px;
   /* 136.364% */
}

h2 {
   font-size: 22px;
   font-weight: 400;
   line-height: 60px;
   /* 272.727% */
}

p {
   font-size: 16px;
   font-weight: 400;
}

.heroinfo p {
   margin: 40px 0 38px 0;
   line-height: 130%;
}

button {
   width: 208px;
   height: 47px;
   flex-shrink: 0;
   border-radius: 2px;
   background: var(--primary, #FF6464);
   color: #FFF;
   font-size: 20px;
   font-weight: 500;
   border: none;
   transition: .5s;
}

button:hover {
   background: transparent;
   border: 1px solid #FF6464;
   color: #21243D;
}

#post {
   background: #EDF7FA; 
}

.posts {
   padding: 50px 90px;

}

.posthead {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.posthead a {
   color: var(--secondry, #00A8CC);
}

.postcards {
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.card {
   width: 418px;
   height: 240px;
   flex-shrink: 0;
   border-radius: 4px;
   background: #FFF;
   box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
   padding: 24px;
}

.card h3 {
   font-size: 26px;
   font-weight: 700;
}

.items {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin: 17px 0;
}

.items p {
   font-size: 18px;
}

.items .another {
   margin: 0 20px;
}

.card .space {
   font-weight: 400;
   line-height: 190%;
}

.works {
   padding: 0 90px;
}

.works h2 {
   margin: 10px 0;
}

.workone {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   margin-bottom: 30px;
}

.workinfo h3 {
   font-size: 30px;
   font-weight: 700;

}

.workinfo p {
   line-height: 150%;
}

.teg {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin: 17px 0px;
}

.btnp {
   padding: 3px 5px 3px 20px;
   width: 62px;
   height: 25px;
   flex-shrink: 0;
   border-radius: 16px;
   background: #142850;
   color: #FFF;
   font-size: 18px;
   font-weight: 900;
   line-height: 60px;
   /* 333.333% */
   margin-right: 20px;
}

.gray {
   color: var(--light, #8695A4);
   font-size: 20px;
   font-weight: 400;
}

.image {
   margin-right: 30px;
}

.line {
   border-bottom: 1px solid var(--gray-5, #E0E0E0);
   stroke: var(--gray-5, #E0E0E0);
   margin: -15px 0 25px 0;
}

.footer {
   padding: 90px 90px;
}

.logos {
   margin-bottom: 20px;
}

.facebook {
   margin: 0 20px;
}

.twitter {
   margin-right: 20px;
}

.copyright {
   font-size: 14px;
}

ion-icon {
   font-size: 32px;
}

/* Adaptive */

@media (max-width: 1400px) {
   .container {
      width: 90%;
   }
}

@media (max-width: 1200px) {
   .container {
      width: 80%;
   }
   
   p {
      font-size: 14px;
   }

   .card {
      width: 370px;
      padding: 25px;
   }

   .posts {
      padding: 50px 5px 50px 90px;
   }
}

@media (max-width: 1024px) {
   .container {
      width: 90%;
   }

   p {
      font-size: 13px;
   }

   .card {
      width: 350px;
      padding: 20px;
   }
   .card h3 {
      font-size: 22px;
   }
   .posts {
      padding: 50px 5px 50px 90px;
   }
}

@media (max-width: 992px) {
   .container {
      width: 95%;
   }

   h1 {
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
   }

   .heroinfo p {
      margin: 30px 0 28px 0;
      line-height: 130%;
   }

   .hero {
      padding: 120px 30px 120px 30px;
   }

   .posts {
      padding: 50px 15px 50px 30px;
   }

   .card {
      width: 350px;
      padding: 30px;
   }

   .works {
      padding: 0 15px;
   }

   .footer {
      padding: 60px 90px;
   }
}

@media (max-width:768px) {
   .container {
      width: 95%;
   }

   .hero {
      flex-direction: column-reverse;
      padding: 60px;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   .hero img {
      margin-bottom: 20px;
   }

   .posts {
      padding: 50px 10px;
   }

   .card {
      width: 280px;
   }

   .works {
      padding: 0 10px;
   }

   .footer {
      padding: 40px 90px;
   }
}

@media (max-width: 576px) {
   .container {
      width: 576px;
   }

   .postcards {
      flex-direction: column;
   }

   .header {
      align-items: center;
      justify-content: center;
   }

   .posts {
      padding: 30px;
   }

   .card {
      margin-bottom: 30px;
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
   }

   .card p {
      text-align: center;
   }

   .works h2 {
      padding: 30px;
   }

   .workone {
      padding: 20px 30px;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
   }

   .workone img {
      width: 200%;
      margin-bottom: 10px;
   }

   .btnp {
      padding: 3px 3px 3px 30px;
   }

   .workinfo p {
      font-size: 14px;
   }

   .footer {
      padding: 20px 90px;
   }

   .line {
      margin: 20px;
   }
}

@media (max-width: 451px) {
   .container {
      width: 451px;
   }

   .heroinfo p {
      font-size: 18px;
      font-weight: 200;
      margin: 35px 0;
   }

   .heroinfo h1 {
      font-size: 36px;
      line-height: 44px;
   }

   .card {
      width: 330px;
      text-align: center;
   }

   .posts {
      padding: 20px;
   }

   .works h2 {
      padding: 10px;
   }

   .workone {
      padding: 10px;
      margin-bottom: 10px;
   }

   .workone img {
      width: 165%;
   }

   .btnp {
      padding: 3px 3px 3px 20px;
   }

   .workinfo p {
      font-size: 16px;
   }
}

@media (max-width:400px) {
   .container {
      width: 400px;
   }

   .heroinfo p {
      font-size: 14px;
   }

   .card {
      width: 300px;
   }

   .items p {
      font-size: 16px;
   }

   .workone {
      padding: 10px 0px 10px 5px;
   }

   .workone img {
      width: 150%;
   }

   .btnp {
      padding: 3px 3px 3px 30px;
   }

   .workinfo p {
      font-size: 14px;
      text-align: left;
   }

   .footer {
      padding: 20px 50px;
   }
}

@media (max-width:376px) {
   .container {
      width: 376px;
   }

   .hero {
      padding: 80px 20px;
   }

   .heroinfo p {
      font-size: 16px;
   }

   .card {
      padding: 10px;
   }

   .workone img {
      width: 140%;
   }
}

@media (max-width:320px) {
   .container {
      width: 320px;
   }

   .header {
      gap: 20px;
   }

   .header a{
      text-align: center;
      margin-left: 0px;
   }

   .card {
      width: 270px;
   }

   .space {
      font-size: 12px;
   }

   .workone img {
      width: 120%;
   }

   .workinfo h3 {
      font-size: 24px;
   }

   .items p {
      font-size: 15px;
   }

   .btnp {
      width: 44px;
      padding: 3px 10px 3px 20px;
   }

   .footer {
      padding: 20px 30px;
   }
}